.interactive-avatar {
    height: 4.625rem;
    width: 4.625rem;
    border-radius: 50%;
    border: 0.25rem solid transparent;
    overflow: hidden;
    position: relative;
    
    &.active {
        height: 4.625rem;
        width: 4.625rem;
        border-radius: 50%;
        border: 0.25rem solid #E01F3D;
        overflow: hidden;
        position: relative;
        
    }

    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }

    &__img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}