
html {
  height: 100%;
  font-size: $baseFontSize;


  @include tablets {
	font-size: $baseFontSize - 1px;
  }

  @include phones {
	font-size: $baseFontSize - 2px;
  }


}

body {
	font-family: 'Play', sans-serif;
    line-height: 1.1875rem;
	height: 100%;
	color: $grey;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	overflow-x: hidden;
    position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
	color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
  
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

input {
	border: transparent;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
    &__content {
        display: flex;
        min-height: 100%;
	    flex: 1;
        flex-direction: column;
               
    }
}

.container {
	margin: 0 auto;
	width: 95%;
	max-width: $containerWidth;
	position: relative;
	      
}

.container-footer {
	display: flex;
	align-items: center;
	height: 100%;

	@include phones {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.button {
    padding: 1.1875rem 2.625rem;
    color: #FFFFFF;
    background: #E01F3D;
    width: 10.1875rem;
    height: 3.375rem;
    border-radius: 1.875rem;
    font-weight: 700;
    line-height: 1.125rem;

	&:hover{
		background: #CA1B36;
	}

	&--transparent {
		background: transparent;
		font-weight: 400;
		

		&:hover {
			color: #CA1B36;
			background: transparent;
			font-weight: 400;
			

		}
	}

	   
}











