.benefits {
    display: flex;
    position: relative;


    &__item {
        flex: 1;
        padding: 0 3%;

        &::after {
            content: url(../img/shape.svg);
            position: absolute;
            top: 3.125rem;
            transform: translateX(190%);
        }

        &:first-child {
            padding-left: 0;
        }
       
        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }

        }
    }
}


.benefit {
    text-align: center;

    &__image-wrapper {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        position: relative;
        background: #F2F5F4;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    &__icon {
        height: 3.75rem;
        width: 3.4375rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__title {
        @include subtitle;
        margin-bottom: 0.4375rem;
    }



}
