.benefits {
    display: flex;
    position: relative;

    @include phones {
        flex-direction: column;
        
    }


    &__item {
        
        flex: 1;
        padding: 0 3%;

        

        &::after {
            content: url(../img/shape.svg);
            position: absolute;
            top: 3.125rem;
            transform: translateX(190%);
            
            
            
            @include tablets {
                display: none;
                
            }
            
        }

        &:first-child {
            padding-left: 0;
        }
       
        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }

        }
        @include phones {
            padding: 0;
        }
        
    }
}


.benefit {
    text-align: center;
    margin-bottom: 1.5rem;

    @include phones {
        display: flex;
        text-align: left;
        align-items:stretch
    }

    &__image {

        @include phones {
            margin-right: 4%;
        }
    }

    &__image-wrapper {
        display: inline-block;
        width: 8rem;
        height: 8rem;
        position: relative;
        background: #F2F5F4;
        border-radius: 50%;
        overflow: hidden;
        

        
    }

    &__icon {
        height: 3.75rem;
        width: 3.4375rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        
    }

    &__text {
        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }

    &__title {
        @include subtitle;
        margin-bottom: 0.4375rem;
    }

}
