.features {
    display: flex;
    align-items: center;
   

    &__item {
        margin-right: 0.5625rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

.feature {
    display: inline-flex;

    &__icon {
        height: 2.5rem;
        width: 3.75rem;
        margin-right: 0;
    }

    &__text {
        line-height: 1.125rem;
        max-width: 7.125rem;
    }
}