.fixed-menu {
    position: fixed;
    top: 25%;
    right: 0;
    z-index: $z-fixed-menu;
    
    &__item {
        margin-bottom: 0.3125rem;

        &--active {
            .fixed-menu__link {
                border-color: $red;

                &::before {
                    background: $red;
                }
            }
        }
    }

    @include tablets {
        display: none;
    }

    &__link {
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 50%;
        border: 0.0625rem solid transparent;
        display: block;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 0.375rem;
            height: 0.375rem;
            border-radius: 50%;
            background: $black;
            top: 50%;left: 50%;transform: translate(-50%,-50%);
        }
    }


}