.headline {
    text-align: center;
    margin-bottom: 8%;
    
    
    
    &__title {
        margin-bottom: 2%;

        @include phones {
            margin-bottom: rem(11px);
        }
        
    }

    &__subtitle {
        margin: 0 20%;
        @include tablets {
            margin: 0 rem(91px) rem(52px) rem(91px);
        }
    
        @include phones {
            margin: 0;
        }

    }
    
    

}

