.hero {
    background:  #F5F5F5;
    height: 100vh;
    min-height: 652px;
    color: $black;
    position: relative;
    
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 0px;
        width: 46px;
        border-top: 11px solid transparent;
        border-color: #C4C4C4;
        bottom: -5px;
        right: 12%;
        transform: rotate(-45deg);
       
        
    }



    &__container {
        background: url("../img/beats1.svg") no-repeat right center / 60% auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 24px 0px 65px 0px;
    }
   
    &__title-section {
        width: 45%;
        margin-bottom: 88px;
    }
   
    &__main-title {
    @include title;
    margin-bottom: 22px;
   }

   &__title-desc {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 54px;
    padding-right: 22%;
   }

   &__icon-section {
    max-width: 55%;
   }

}








