.products-section {
    background: #F8FAF9;
    position: relative;
   
}


.products-slider{
    display: flex;
    
    
    &__arrow {
        position: absolute;
        width: 100%;
        top: 46%;
        z-index: 10;

        @include tablets {
            top:rem(150px);
        }
        
        &--prev {
            left:-2%;

            @include tablets {
                left: 18%;
            }
            @include phones {
                left: 5%;
            }
        }
        &--next {
            left:100%;
            @include tablets {
                left: 80%;
            }
            @include phones {
                left: 92%;
            }
        }
      
    }
}


.bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
}
    



.product {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__photo {
        flex: 1.2;
        
        @include tablets {
            margin: 0 rem(64px) rem(49px);
            width: auto;
            display: flex;
        }
        @include tablets {
            margin: 0;
            width: auto;
            display: flex;
        }
    }

    &__img {
        width: rem(425px);
        height: rem(425px);
        border-radius: 50%;

       @include tablets {
            width: rem(323px);
            height: rem(323px);
            margin: 0 rem(64px);
       }
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
        width: 100%;
        height: 100%;
        

        @include tablets {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
    }

 

    &__specifications {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: rem(25px);
        position: relative;
        
        &-icon {
            width: rem(91px);
            height: rem(91px);
        }

        @include tablets {
            display: none;
        }
    }

    

    &__title {
        @include title;
        font-size: rem(36px);
        color: $black;
        line-height: 1.15;
        margin-bottom: 25px;
        
        
        @include tablets {
            font-size: rem(28px);
            margin-bottom: 0;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        padding-right: rem(55px);

        @include tablets {
            padding: rem(15px) rem(60px);
            align-items: center;
            justify-content: center;
            
        }

        @include phones {
            padding: rem(15px) rem(34px);
            align-items: center;
            justify-content: center;
            
        }
       
    }

    &__text {
        
        margin-bottom: rem(28px);
    }

    &__futures {
        display: flex;
        margin-bottom: rem(30px);

        @include tablets {
            align-items: center;
            
        }
       

        &-item {
            display: flex;
            flex-direction: column;
            margin-right: rem(86px);

            @include tablets {
                margin-right: rem(50px);
            }

            &:last-child {
                margin-right: 0;
            }


            @include tablets {
                align-items: flex-start;
            }
        }

    }

    &__price {
        display: flex;
        align-items: center;
        

        @include tablets {
            justify-content: center;
        }
        
        &-value {
            font-size: rem(36px);
            color: $black;
            margin-right: rem(27px);
        }
    }




}

.arrow-img {
    width: 100%;
    height: 100%;
}