.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    
    &__display {
        background: #F8FAF9;
        display: flex;
        margin-bottom: 2.6875rem;
        padding: 2.625rem 6.875rem 2.625rem 2.625rem;
        overflow: hidden;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 5.1875rem;
            height: 5.1875rem;
            background: #FFFFFF;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -4.0625rem;
        }

        @include tablets {
            padding: 2.625rem 2.625rem 2.625rem 2.625rem; 
        }

    }
    &__display-inner {
        display: flex;
        align-items: center;

        @include tablets {
            flex-direction: column;
            text-align: center;
        }
       
    }

    &__avatar {
        width: 15.8125rem;
        height: 16.5rem;
        margin-right: 2.375rem;

        @include tablets {
            margin-right: 0;
            margin-bottom: rem(32px);
            width: rem(130px);
            height: rem(130px);
        }
        
    }

    &__avatar-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        @include tablets {
            align-items: center;
        }

    }

    &__title {
        @include subtitle;
        margin-bottom: 1.6875rem;
    }

    &__text {
        margin-bottom: 2.375rem;
        line-height: 1.1875rem;
    }
    
    
    &__author {
        color: $black;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }



    &__switcher {
        display: flex;
        justify-content: center;
    }

    &__switcher-item {
        margin-right: 0.4375rem;

        &:last-child {
            margin-right: 0;
        }
    }
    

}

