.section {
    height: 100vh;
    min-height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    


    
    

    &__title {
        @include title;
        margin-bottom: 5%;
        text-align: center;
        color: $black;

        &--white {
            color: white;
            margin-bottom: 6%;
        }

        @include tablets {
            margin-bottom: rem(33px);
        }

        @include phones {
            margin-bottom: rem(30px);
        }
    }
  
   
}

.section-about {
    position: relative;
    
    
    &::after {
        content: url(../img/triangle.svg);
        bottom: rem(-17px);
        left: 3.75rem;
        transform: translateX(50%);
        position: absolute;
        z-index: 10;
    }
}



