.section-video {
    position: relative;
    background: #F8FAF9;

    &:before {
        content: url(../../img/circle.svg);
        position: absolute;
        display: block;
        top: -1.125rem;
        left: 5rem;
    }

    &:after {
        content: url(../../img/polygon.svg);
        position: absolute;
        display: block;
        bottom: -1.75rem;
        right: 5.625rem;
    }
}

.section__content {
    height: 24.5rem;
    width: 41.375rem;
    margin-bottom: 6.625rem;
}

.video__title {
    margin-bottom: 2.75rem;
}