.colors-section {
    background: url(img/colors.png) top right / cover no-repeat;
    position: relative;
    color: #FFFFFF;
    display: flex;
    
}

.colors__title {
    color: #FFFFFF;
    margin-bottom: 0;
    position: absolute;
    top: rem(115px);
    left:  rem(85px);

    @include tablets {
        top: rem(91px);
        left:  rem(40px);
    }

    @include phones {
        top: rem(76px);
        left:  rem(10px);
    }
   
}

.colors__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;

}



.color {
    display: flex;
    justify-content: flex-end;

    &__title {
        position: relative;
        display: block;
        width: rem(100px);
        
        
        &--silver {
            background: #999999;
        }
        &--black {
            background: #151515;
        }
        &--red {
            background: #E01F3C;
        }

        &-text {
            writing-mode: vertical-rl;
            transform-origin: center;
            transform: rotate(-180deg);
            position: absolute;
            padding-left:rem(30px);
            padding-right: rem(30px);
            bottom: rem(34px);
            display: flex;
            width: 100%;
            font-family: Alegreya Sans;
            font-size: rem(36px);
            font-weight: bold;
                       
        }
    
    }

    &__content {
        display: block;
        overflow: hidden;
        transition: 0.5s;
        background: rgba(51, 53, 55, 0.9);
        opacity: 0.9;
        width: 0;
        font-family: Alegreya Sans;
        font-size: rem(16px);
        font-weight: 400;
        line-height: 1.25;
        position: relative;
        
    }

    &__container {
        width: 85%;
        position: absolute;
        display: block;
        top: rem(30px);
        left: rem(38px);
        
    }



}