.footer {
    position: absolute;
    background: #FFFFFF;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    color: $black;

    @include phones {
        height: rem(151px);
    }
    
    &__col {
        display: flex;
        flex: 1;
        
        &--left {
           justify-content: flex-start;
           align-items: center;

           @include phones {
            justify-content: center;
            text-align: center;
           }
         
        }

        &--right {
            justify-content: flex-end;
            align-items: center;
            @include phones {
                justify-content: center;
                text-align: center;
               }
         }
        
        }

}


.contact {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.125rem;
    font-family: 'Play', sans-serif;

    &__info {
        margin-bottom: 0.1875rem;
        line-height: 1.5rem;
    }

    @include phones {
        justify-content: center;
        align-items: center;
        
       }
}

.social {

    &__list {
        display: flex;
    }

    &__item {
        height: 1.875rem;
        width: 1.875rem;
        border-radius: 50%;
        margin-right: 0.625rem;
        

        &:last-child {
            margin-right: 0;
        }
       

        
    }
}

.social__icon {
    fill: #B3B3B3;
    height: 1.875rem;
    width: 1.875rem;
    
    &:hover {
        fill: black;
    }
}